@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);

/** bg img **/
html { 
      background: url(images/bg.jpg) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}
/** bg img **/

body {background-color: transparent; max-height: 100%;}
.wrap {max-width: 700px; position: relative;} /* main content container */

.my_circle {border: 1px solid white; width: 140px;}

.widebox {background: rgba(0, 0, 0, 0.3);   width: 100%; margin-bottom: 1%;} /* 100 proc width box */

.logo {background-color: none; text-align: center; margin-top: 2%;} /* top pic */

.logo p {color: white; font-size: 22px;font-family: "source sans pro"; line-height:169%; margin:0;} /* slogan */
.logo span {background: rgba(0, 0, 0, 0.5); padding: 6px;} /* slog bg */

.main_col {margin-top: 3%; margin-bottom: 3%;  padding: 5px; max-width: 300px;} /* 3 columns (300 px - <=768px width screens */
.centered {display: block; margin-left: auto; margin-right: auto; text-align: center;} /* and... center them! */
.main_col p {color: white;}

.box {height: 250px;  background: #F8F8FF; } /* box inside each of 3 cols */
.boxcontent {padding: 5px; } /* content right after the top bar w scales pattern */

.topbar {height: 40px; border: 1px solid rgba(40, 40, 40, .9);  background: url(images/scales.png);}





button{width: 90%; font-size: 7px;}
.forma{margin-bottom: 5px; width: 90%; margin: 5px auto;}
.mygt {font-size: 12px;}

.soclog{ width: 100%;}

@media (min-width: 768px) { /* Small devices (tablets, 768px and up) */
	.main_col {float: left; width: 220px;}} /* kad vertikaliai nesistackintu columnai (float) */

