
<!DOCTYPE html >


<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css" type=”text/css”/>
<link rel="stylesheet" href="{{ STATIC_URL }}hello.css" type=”text/css”/>
<script src="{{ STATIC_URL }}forgot.js"></script>

<!--<script src="{{ STATIC_URL }}hello.js"></script>-->
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

<html>

<head>
	<style type="text/css">

	#id_email, #id_new_password1, #id_new_password2{

	height: 32px !important;
	width: 156px;
	padding-left: 2.5em !important;
	background:transparent !important;
	border: none !important;
	border-color: none;
	font-weight: bold;


}

	input[type="text"]
{
    font-size:12px;
    color: #fff;
    font-family: source sans pro;
}



	</style>
  <title>Lynx app</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">








</head>

<body>

  <div class="container wrap">
    <div class="row clearfix">
      <div class="col-md-12 logo"> <!-- just asimple centered -->
       <br>
       <br>
       <br>
       <p><span style="color:#ae9896; padding-right: 0px;">Lynx</span><span style="padding-left: 0px"> is a simple and beautiful tool for taking notes in your lectures.</span></span></p>
       <p><span style=" font-size: 18px;"> And it works just as good as it looks.</span></span></p><br>
     </div>
   </div></div>


   
   <div class="widebox">
    <div class="container wrap">


    	



     	<p class="errors">{{ form.email.errors.as_text }}</p>
      {% block top %}
      {% endblock %}

     	{% block forgot_box %}
          

          <div class="fogwrap">
            <div class="text">
              <p class = "sign_in">Retrieve password</p></div>

              <div class = "shadow">
                <div class = "fog">
                  <div class = "header">
                    <div class = "fog2">
                      <div class = "fog3">
                        <div class = "fog4">
                          <div class="username">
                            <i class="fa fa-envelope"></i>
                            <form class="forgotForm" action = "" method = 'POST'>
                              {% csrf_token %}
                              {{ form.email }}
                            </form>

                          </div>
                          
                          <br>


                          <div class="forgotButton"><p>Go!</p></div>



                        </div>
                      </div>
                    </div>
                  </div>
                </div><br><br>
                
              </div>
            </div>

            {% endblock %}




          </body>
          </html>