{% extends 'registration/password_reset_form.html' %}


{% block title %}Setting New password{% endblock %}

{% block extra_css %}



{% endblock %}

{% block top %}
    {% if validlink %}
        <p class="errors">Please enter your new password twice.</p>
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            
                
                    <p class="errors">{{ form.new_password1.errors.as_text }}<br>
                    {{ form.new_password2.errors.as_text }}</p>

                
            
        </form>
    {% else %}
        <p class="errors">Password reset unsuccessful.</p><br>
        <p class="errors">The password reset link was invalid,
        possibly because it has already been used. <br />
        Please request a new password reset by clicking <a href="/user/password/reset">here</a>.</p>
    {% endif %}
{% endblock %}



{% block forgot_box %}
{% if validlink %}

<div class="regwrap" >
          <div class="text">
            <p class = "sign_in">Retrieve password</p></div>

            <div class = "shadow">
              <div class = "reg">
                <div class = "header">
                  <div class = "reg2">
                    <div class = "reg3">
                      <div class = "reg4">
                        <div class="username">
                          <i class="fa fa-key"></i>

                          <form class = "forgotForm" action = "" method = 'POST'>
                            {% csrf_token %}
                            {{ form.new_password1 }}

                          </div>
                          <div class="password">
                            <i class="fa fa-key"></i>
                            {{ form.new_password2 }}

                          </div>
                          <br>
                          <a href="#"><div class="forgotButton"><p>Proceed</p></div></a>
                        </form>
                      </div>
                    </div>
                  </div>

                </div>
              </div><br><br>
  
            </div>
          </div>
{% endif %}
{% endblock %}


