<!DOCTYPE html >




<html>

	<head>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css" type=”text/css”/>
<link rel="stylesheet" href="{{ STATIC_URL }}app.css" type=”text/css”/>
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}main.js"></script>



<input id="csrf_token" value="{% csrf_token %}"/>

<script src="{{ STATIC_URL }}forms.js"></script>




		<title>Welcome back</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body>


		<!--

		$(document).mousedown(function(e) {
    if ( !$(e.target).closest('h2').length ) {
        alert('clicked outside of editor');
    }
});-->





		<div id="wrap">



	
		
		<!--<div class="col-md-3 meniu" ></div>-->

		<div class="col-md-4 editor centered">

		<div class="topbar"> <!-- fixed -->


<!--************ 1 **********-->

	
		<div class="col-md-4 leftbar">
		<a href="#">
		<span class="helper"></span>
		<img alt="140x140" src="{{ STATIC_URL }}/images/ash2.png" class="img-thumbnail my_circle" />
		<span style="margin-left: 5px;"><b>Hi, Eimantas &#9662;</b></span>
		</a>

		<a href="#">
		<div class="stats"><p>Subjects</p><p style="color: #740C16; font-size: 20px;">3</p></div>
		</a>

		<a href="#">
		<div class="addSubject" style="border:none;"><span class="glyphicon glyphicon-plus"></span></div>
		</a>
		</div>

<!--************ 2 **********-->

		<div class="col-md-4 midbar"><p class="midbar">Cultural history</p>
		</div>

<!--************ 3 **********-->

		<div class="col-md-4 rightbar">
		<span class="helper"></span>

			<a href="#"><p style="display: inline-block;"><b>Lecture 1</b></p></a>
			<div class="exportBox"><p><span class="glyphicon glyphicon-plus"></span></p></div>
			<div class="exportBox"><p><span class="glyphicon glyphicon-export"></span></p></div>
			<div class="exportBox"><p><span class="glyphicon glyphicon-cloud-upload"></span></p></div>
			<div class="exportBox"><p><span class="glyphicon glyphicon-share"></span></p></div>
			
			

		</div>

		</div>



			<form action = "http://127.0.0.1:8000/app/" method = "POST">
			{% csrf_token %}
			<!-- t_formset.management_form -->
			{{ t_formset.management_form }}
			<!-- t_formset.management_form -->
			{{ s_formset.management_form }}
			<!-- formsets -->
			{% for topic, summary in zipped %}
    		<div id="topic">{{ topic }}</div>
    		<br>
    		<input type="submit" value="Submit" class="mygt" />
    		<br>
    		<div id="summary">{{ summary }}</div>
    		<br>
    		<input type="submit" value="Submit" class="mygt" />
			{% endfor %}
			<br>
			Adding new forms:<br>
			


			<fieldset id="buildyourform">
			</fieldset>
			<input type="button" value="Add a field" class="add" id="add" /><br><br><br>







			<!--<form action = "#" method = "POST" name="new_form" id="new_form">
			<textarea  name="name" maxlength="1000" cols="25" rows="6" id="new_form"></textarea>
			<br><input type="submit" value="Submit" class="newMygt" />


			<br>new form 2:<br>
			<form action = "#" method = "POST" name="new_form" id="new_form">
			<textarea  name="content" maxlength="1000" cols="25" rows="6" id="new_form"></textarea>
			<br><input type="submit" value="Submit" class="newMygt" />-->

			



			



		</div>

	
</div>
</div>

	</body>

</html>


 

