<!DOCTYPE html >


<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css" type=”text/css”/>
<link rel="stylesheet" href="{{ STATIC_URL }}main.css" type=”text/css”/>
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>

<html>

	<head>
    <title>Lynx app</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

  	<body>

      <div class="container wrap">
<div class="row clearfix">
    <div class="col-md-12 logo"> <!-- just asimple centered -->
      <img alt="140x140" src="{{ STATIC_URL }}/images/lynx.jpg" class="img-circle my_circle"><br><br>
      <p><span style="color: #F8A20C; padding-right: 0px">Lynx</span><span style="padding-left: 0px"> is a simple and beautiful tool for taking notes in your lectures.</span></span></p>
      <p><span style=" font-size: 18px;"> And it works just as good as it looks.</span></span></p><br>
    </div>
  </div></div>
  
    <div class="widebox"><div class="container wrap">

<!-- **********Register box start********** -->

    <div class="col-md-4 main_col centered"><div class="box centered"><div class="topbar"></div><div class="boxcontent" style="text-align:center;">

    <form role="form">
  <div class="input-group forma">
  <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
  <input type="text" class="form-control" placeholder="Username">
</div>
  <div class="input-group forma">
    <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="E-mail address">
  </div>
  <div class="input-group forma">
    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  
  
 <button type="submit" class="btn btn-primary mygt">Start using Lynx!</button><img src="{{ STATIC_URL }}/images/gplus.png" /> / <img src="{{ STATIC_URL }}/images/gplus.png" />
</form>

    </div></div></div>
<!-- **********Register box end********** -->


<!-- **********Login box start********** -->
    <div class="col-md-4 main_col centered"><div class="box centered"><div class="topbar"></div><div class="boxcontent" style="text-align: center;">
      <br>
    <form role="form">
  <div class="input-group forma">
  <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
  <input type="text" class="form-control" placeholder="Username">
</div>
  <div class="input-group forma">
    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  
  
  <br><div class="soclog"><button type="submit" class="btn btn-primary mygt" >Login!</button><img src="{{ STATIC_URL }}/images/gplus.png" /> / <img src="{{ STATIC_URL }}/images/gplus.png" /></div>
</form>

    </div></div></div>
<!-- **********Login box end********** -->


    <div class="col-md-4 main_col centered"><div class="box centered" style="background: rgba(0, 0, 0, .4);"><div class="topbar"></div><div class="boxcontent">
      
    <div class="col-md-12" style="margin-top:2%;"> <!-- just asimple centered -->
      <img alt="140x140" style=" opacity:0.7;" src="{{ STATIC_URL }}/images/woman.jpg" class="img-circle my_circle" />
      <p style="margin-top: 10px;"> Why people use Lynx?</p><br><br>
    </div>


    </div></div></div> <p style="text-align: center; color: white; word-spacing:15px;">About Features Blog Pricing Contact</p><br> </div></div></div>
    </div>

  
    
  </body>

</html>