<!DOCTYPE html>
<html>
<head>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css" content-type: text/css/>
	<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
	<script src="{{ STATIC_URL }}bindWithDelay.js"></script>
	<script src="{{ STATIC_URL }}app.js"></script>
	<script src="{{ STATIC_URL }}expanding.js"></script>
	<link rel="stylesheet" href="{{ STATIC_URL }}app.css" content-type: text/css/>

	<!--<script src="{{ STATIC_URL }}jquery.autosize.js"></script>-->
	<input id="csrf_token" value="{% csrf_token %}"/>
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" content-type: text/css />
	<script src="{{ STATIC_URL }}jquery-ui-1.10.4.custom.js"></script>
	<title>Welcome back</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script type='text/javascript' src='{{ STATIC_URL }}tipsy/javascripts/jquery.tipsy.js'></script>
	<link rel="stylesheet" href="{{ STATIC_URL }}tipsy/stylesheets/tipsy.css" type="text/css" />
</head>
<body>
		<!--
		$(document).mousedown(function(e) {
    if ( !$(e.target).closest('h2').length ) {
        alert('clicked outside of editor');
    }
});-->

<div class="topbar">
	<!--************ 1 **********-->

	<div class="col-md-4 leftbar">
		<a href="/dashboard/">
			<span class="helper"></span>
			<img alt="140x140" src="{{ STATIC_URL }}/images/temp_profile.png" class="img-thumbnail my_circle" />

		</a>
		<a href="#">

		</a>
	</div>
	<!--************ 2 **********-->
	<div class="col-md-4 midbar"><p class="midbar">{{ slug|capfirst }}</p><div class="stats"><p class="topicCount"></p></div><div class="stats" style="margin-left: 0;"><a href="#"><div class="custom_button green addNew"><i class="fa fa-plus deleteSubjectIcon"></i> Add new</div></div></div>
	<!--************ 3 **********-->
	<div class="col-md-4 rightbar topright">
		<span class="helper"></span>
		<a href="#"><p style="display: inline-block;"></p></a>
		<div class="exportBox"><p><span class="glyphicon glyphicon-share-alt share" original-title ="Share"></span></p></div>
		<div class="exportBox"><p><span class="glyphicon glyphicon-floppy-save export" title="Export to PDF"></span></p></div>


	</div>
</div>
<div id="wrap">
	


	<!--<div class="col-md-3 meniu" ></div>-->
	<div class="col-md-4 editor centered">
		<div class="domain">{{ domain }}</div>
		<div class="subjectName">{{ slug }}</div>
		<div class="circles">
			<div class="circle"></div>
			<div class="circle"></div>
			<div class="circle"></div>
		</div>


		{% for topic, summary in zipped2 %}

		<form action="http://127.0.0.1:8000/app/" method="POST" class="form">
			<input type="hidden" name="csrfmiddlewaretoken" value="0gNNkg2mvgWtwOv5QE2BpNizKNSU7hmg">
			<div class="static">


				<!-- formsets -->


				<div class="topic">
					<div class="expanding-wrapper wtf" style="position:relative">
						<div class ="topic_pk">{{ topic.pk }}</div>
						<textarea class="topicTextarea expanding" cols="40" id="animated" name="Topic" rows="1" style="margin: 0px; box-sizing: border-box; width: 100%; position: absolute; top: 0px; left: 0px; height: 100%; resize: none;"> {{ topic.name }} </textarea>
					</div><input id="id_form-0-id" name="form-0-id" type="hidden" value="1">
					<div class="buttons">

						<a href="/app/remove_summary/{{ summary.pk }}">
							<div class="custom_button white removeSummary">
								<i class="fa fa-times deleteSubjectIcon"></i>
								Remove just this summary
							</div>
						</a>

						<a href="/app/remove_topic/{{ slug }}/{{ topic.pk }}">
							<div class="custom_button white removeTopic" original-title="You can't remove initial topic">
								<i class="fa fa-times deleteSubjectIcon"></i>
								Remove topic
							</div>
						</a>


					</div>
				</div>
				<div class="summaryContainer">
					<div class="summaryWrap"><p class="topicDate">{{ topic.date|date:'DATETIME_FORMAT'}}</p>

			<!--<input type="submit" value="Submit" class="mygt" />
			<a href="/app/remove_topic/1"><p class="remove_topic">Remove topic</p></a>-->
			<br>
			<div class="summary">
				<div class="expanding-wrapper" style="position:relative">
					<div class="summary_pk"> {{ summary.pk }} </div>
					<textarea class="summaryTextarea expanding" cols="40" id="animated" name="Summary" rows="1" style="margin: 0px; box-sizing: border-box; width: 100%; position: absolute; top: 0px; left: 0px; height: 100%; resize: none;">{{summary.content}} </textarea>
				</div>
				<input id="id_form-0-id" name="form-0-id" type="hidden" value="1"></div>
				<br>
				<!--<input type="submit" value="Submit" class="mygt" />-->

			</div>
		</div>

		<br>
	</div></form>

	{% endfor %}

	<!-- ************************************************************************8 -->






</div>

<div class="tests">
	<b>Tests</b>:<br>
	pk_list:
	{{ pk_list }}<br>
	Previous summary PK:
	{{ prevSumPk }}<br>

	Subject list:{{ subject_list }}<br>
	Test: {{ topics }}
</div>


</div>
</div>
</body>
</html>