<!DOCTYPE html>
<html>
<head>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css" type=”text/css”/>
	<link rel="stylesheet" href="{{ STATIC_URL }}app.css" type=”text/css”/>
	<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
	<script src="{{ STATIC_URL }}app.js"></script>
	<script src="{{ STATIC_URL }}jquery.elastic.source.js"></script>
	<input id="csrf_token" value="{% csrf_token %}"/>
	<script src="{{ STATIC_URL }}forms.js"></script>
	<title>Welcome back</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
		<!--
		$(document).mousedown(function(e) {
    if ( !$(e.target).closest('h2').length ) {
        alert('clicked outside of editor');
    }
});-->
<div id="wrap">
	

	<!--<div class="col-md-3 meniu" ></div>-->
	<div class="col-md-4 editor centered">
		<div class="topbar"> <!-- fixed -->
			<!--************ 1 **********-->

			<div class="col-md-4 leftbar">
				<a href="/dashboard/">
					<span class="helper"></span>
					<img alt="140x140" src="{{ STATIC_URL }}/images/ash2.png" class="img-thumbnail my_circle" />
					
				</a>
				<a href="#">
					
				</a>
			</div>
			<!--************ 2 **********-->
			<div class="col-md-4 midbar"><p class="midbar">{{ slug|capfirst }}</p><div class="stats"><p>Lectures: </p>{{ lectures }}</div>
			</div>
			<!--************ 3 **********-->
			<div class="col-md-4 rightbar topright">
				<span class="helper"></span>
				<a href="#"><p style="display: inline-block;"><p>Lecture 1</p></p></a>
				<div class="exportBox"><p><span class="glyphicon glyphicon-share-alt"></span></p></div>
				<div class="exportBox"><p><span class="glyphicon glyphicon-floppy-save"></span></p></div>


			</div>
		</div>
		<form action = "http://127.0.0.1:8000/app/" method = "POST" class = "form">
			{% csrf_token %}
			<!-- t_formset.management_form -->
			{{ t_formset.management_form }}
			<!-- t_formset.management_form -->
			{{ s_formset.management_form }}
			<!-- formsets -->
			{% for topic, summary in zipped %}
			<div class="topic">{{ topic }}</div><p class = "topicDate">{{ topic.instance.date }}</p>
			<input type="submit" value="Submit" class="mygt" />
			<a href="/app/remove_topic/{{ topic.instance.pk }}"><p class="remove_topic">Remove topic</p></a>
			<br>
			<div class="summary">{{ summary }}</div>
			<br>
			<input type="submit" value="Submit" class="mygt" />
			<a href="/app/remove_summary/{{ summary.instance.pk }}"><p class="remove_summary">Remove summary</p></a>
			{% endfor %}
			<br>
		</form>

		Adding new (dynamic) forms:
		<br>

		<fieldset id="buildyourform">
		</fieldset>
		<input type="button" value="Add a field" class="add" id="add" /><br><br><br>

		pk_list:<br>
		{{ pk_list }}<br>
		Previous summary PK:<br>
		{{ prevSumPk }}

		{{ subject_list }}

	</div>

	


</div>
</div>
</body>
</html>