<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>Dashboard</title>
  <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
  <script src="{{ STATIC_URL }}jquery-ui-1.10.4.custom.js"></script>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css" content-type: "text/css/">
  <script type='text/javascript' src='{{ STATIC_URL }}tipsy/javascripts/jquery.tipsy.js'></script>
  <link rel="stylesheet" href="{{ STATIC_URL }}tipsy/stylesheets/tipsy.css" type="text/css" />
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" content-type: text/css>
  <script src="{{ STATIC_URL }}dashboard.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <link href="{{ STATIC_URL }}editable-custom.css" rel="stylesheet" content-type: text/css>
  <link href="{{ STATIC_URL }}editable-custom.css" rel="stylesheet" content-type: text/css>
  <script src="{{ STATIC_URL }}bootstrap3-editable/js/bootstrap-editable.js"></script>
  <link rel="stylesheet" href="{{ STATIC_URL }}dashboard.css" content-type: "text/css/">

  





</head>

<body>
  <div class="topbar top">Dashboard</div>

  <br><div class="errors">{{ domain }}</div>

  <div class="wrap">

    <div class="col-md-6 profile">
      <div class="topbar"><p>Your profile</p></div>
      <img alt="140x140" src="{{ STATIC_URL }}/images/temp_profile.png" class="img-thumbnail pic" original-title="Change profile pic"/>

      <br><a href="/logout/">Logout ({{ email }}) </a><br>

      <!--<a href="#" id="username2" data-type="text" data-pk="2" data-url="/post" data-title="Enter username"><p class="test">Username</p></a>-->

     

      


    </div>
    <div class="col-md-6 items">
      <div class = "topbar"><p>Lynx</p></div>

      <div class="itemsWrap">
        <a href="#" class = "custom_button white subjectsButton">
          <i class="fa fa-briefcase"></i><p> Subjects:</p><span style="color: #0074cc;" class="subjectCount">{{ subjectCount }}</span>
        </a>
        <br>
        <br>
        <a href="http://www.google.lt">
          <a data-toggle="modal" href="#myModal"><div class="custom_button orange new"><p class = "newText"><i class="glyphicon glyphicon-plus plus"></i> new</p></div></a>
        </a>

        <br>
        <div class="subjects">

          {% for subject in subjects %}
          <!--<div class="button orange edit_subject">edit</div>-->
          <div class="custom_button white small">
            <div class="subject_wrap deleteSubject">
              <a data-toggle="modal" href="#myModal2">
                <p>
                  <div class="subject_pk">
                    <a href="{{ domain }}remove_subject/{{ subject.pk }}">
                    </a>
                  </div>
                  <i class="fa fa-times deleteSubjectIcon">
                  </i>
                </p>
              </a>
            </div>
            <a href="#" class="subject_editable" data-type="text" data-pk="{{ subject.pk }}" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}" data-url="{{ domain }}update_subject/{{ subject.pk }}/" data-title="Rename subject" class="editable-link" highlight: "#428bca">
              
                <div class="subject_wrap"><p>{{ subject.title }}</p></div>
              
            </a>
            
          


            <div class="topics">

              <a href = "/app/{{ subject.slug }}/" target="_blank"><div class="custom_button green visitApp"><i class="glyphicon glyphicon-circle-arrow-right proceed"></i> Proceed to web app</div></a>
              <hr class="line"><br>

              {% for topic in subject.topic_set.all %}
               <table style="width:300px">
                <tr>
                  <td class="table_topics"><a href="http://google.lt" class="topicEditable" data-type="textarea" data-pk="{{ topic.pk }}" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}" data-url="{{ domain }}update_topic/{{ topic.pk }}/" data-title="Update topic" class="editable-link"><p class="topic">{{ topic.name }}</p></a></td>
                  <td class="table_buttons"><a data-toggle="modal" href="#myModal2"><i class="glyphicon glyphicon-pencil edit"></i></a><a href = "{{ domain }}remove_topic_d/{{ topic.pk }}"><i class="glyphicon glyphicon-remove delete"></a></td>    
                </tr>

              </table></p><br>



              {% endfor %}
            </div>

          </div>
          {% endfor %}



        </div>





        
  



      <!-- Button HTML (to Trigger Modal) -->


      <!-- Modal start-->

      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">New subject</h4>
            </div>
            <div class="modal-body">
              Please enter a name for a new <b>Subject</b>. This is a basic, top-level object in Lynx, from which you will be able to create <b>Topics</b> and their corresponding <b>Summaries</b>. A good subject name,for example, would be "Cultural history", "Antropology", "Market research" or "Introduction to data mining methods in Python" or similar.<br><br>

              <form action = "/new_subject/" method="POST" class="new_subject_form">
                {% csrf_token %}
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-briefcase"></i></span>
                <input type="text" class="form-control new_subject_form" placeholder="Subject title" name="subject_title">
              </div>


      
            


            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary new_subject_button">Create new subject</button>
            </form>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->

      <!-- Modal end -->

  <!-- Modal 2 start-->

      <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Remove subject</h4>
            </div>
            <div class="modal-body">
              Are you sure you want to proceed ? All <b>Topics</b> and <b>Summaries</b> that are related to this Subject will also be removed and the change is irreversible.

               


            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary removeSubject">Remove subject</button>
            
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->

      <!-- Modal 2 end -->









    </div>

  </div>


<br><hr class="footerLine">

</div>

<hr class="line">
<div class="footer"><p>Help</p></div>

</body>

</html>